doctype html
html
  head
    meta(charset='utf-8')
    title 익명게시판
    link(type='text/css' rel='stylesheet' href='/static/layout.css')
    link(type='text/css' rel='stylesheet' href='/static/content.css')
  body
    .box
      header.header.clearfix
        .wrapper
          h1.logo 
            a(href="/") Node.js
          .right
            a.login(href="/admin") Login
            a.user(href="#") User
      section.wrapper.board 
        .board-top.clearfix
          - if(matched.num<10)
            h3.top-left= '0' + matched.num + ' ' + matched.title
          - else
            h3.top-left= matched.num + ' ' + matched.title
          .top-right
            span= 'DATE - '+matched.date
            strong= matched.user+' 님'
        .board-content
          p= matched.content
        form.board-comment(method="post" action="/content/"+matched.num)
          input.comment-user(name="user")
          input.comment-text(name="comment")
          button.comment-btn(type="submit") 입력
          
        .comment-list
          each item in commentMatched
            .row
              span.list-user= item.user + ' 님'
              span.list-comment= item.comment
              span.list-date= item.date

      footer.footer
        .wrapper
          h2.logo Node.js
          p.left IE9 이상에 최적화된 사이트 입니다.        